{erl_opts, [debug_info]}.

{project_plugins, [{pc, "1.15.0"}]}.

{provider_hooks, [
    {pre,  [{compile, {pc, compile}}]},
    {post, [{clean,   {pc, clean}}]}
]}.

{port_specs, [
    {"priv/io_uring_nif.so", ["native/io_uring_nif.c"]}
]}.

{port_env, [
    {"CFLAGS",  "$CFLAGS  -std=c11 -O2 -Wall -Wextra"},
    {"LDFLAGS", "$LDFLAGS -luring"}
]}.

{deps, []}.

{src_dirs, ["src", "examples"]}.

{eunit_opts, [verbose]}.

{ct_opts, [{dir, "tests"}]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, {d, 'TEST'}]}
    ]}
]}.
